/* Global Component Container */
/* It will englobe all content inside */
.OurProducts-container {
    margin: 10rem 0;
    text-align: center;
}

.OurProducts-container>h1 {
    color: var(--Main-Black);

    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

/* Local 'Our Products' container */
.OurProducts-local-container {
    width: 85%;
    height: 100%;
    margin: 7rem auto 0;
}

.OurProducts-img-container {
    position: relative;

    margin: 0 auto 5.2rem;
    width: 90%;
    height: 25rem;

}

.OurProducts-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;

    box-shadow: 0px 0px 5px 0px black;
}

/* *** Red Ball inside the images *** */
.red-ball {
    position: absolute;
    bottom: -25px;
    right: -15px;

    width: 7rem;
    height: 7rem;

    border-radius: 60px;

    background-color: red;
    box-shadow: 1px 1px 7px black;
}

/* *** Red Ball to the left */
.ball-left {
    bottom: -25px;
    left: -15px;
}

/* *** Box Content with Text and Red Button *** */
.OurProducts-box-content {
    display: grid;
    justify-items: start;

    width: 90%;
    margin: 0 auto;

    color: var(--Main-Black);

    text-align: left;
}

.OurProducts-box-content h2 {
    font-size: 2.4rem;
    font-weight: 100;
}

.OurProducts-box-content>p {
    width: 25rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;

    margin: 1.4rem 0;
}

.OurProducts-box-content .red-button {
    text-align: right;
}

/* CSS to turn 'OurProducts-box-content' to the right according to the design provided on MOBILE */
.justify-right {
    justify-items: end;
    text-align: right;
}

/* iPads/Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    .OurProducts-local-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .OurProducts-box-content {
        width: 100%;
    }

    .OurProducts-img-container {
        margin: 0 auto 5.2rem 0;
        width: 29rem;
        height: 25.5rem;
    }

    /* Will justify pictures according to the condition 'box.id % 2 !== 0...' */
    .justify-tablet {
        margin: 0 0 5.2rem auto;
    }

}

/* Laptops/Small laptops common screen size */
@media (min-width: 1024px) and (max-width: 1366px) {
    .OurProducts-container>h1 {
        font-size: 4rem;
    }

    .OurProducts-local-container {
        width: 75%;
        margin: 16rem auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .OurProducts-img-container {
        margin: 0 auto 0;
        width: 40rem;
        height: 25.5rem;
    }

    .flex-right {
        flex-direction: row;
    }

    .OurProducts-box-content h2 {
        font-size: 2.6rem;
    }

    .OurProducts-box-content>p {
        width: 31rem;
        font-size: 1.5rem;
    }
}

/* Large Screensize Laptops */
@media (min-width: 1366px) and (max-width: 1440px) {
    .OurProducts-container>h1 {
        font-size: 4rem;
    }

    .OurProducts-local-container {
        width: 60%;
        margin: 16rem auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .OurProducts-img-container {
        margin: 0 auto 0;
        width: 35rem;
        height: 25.5rem;
    }

    .flex-right {
        flex-direction: row;
    }

    .OurProducts-box-content h2 {
        font-size: 2.6rem;
    }

    .OurProducts-box-content>p {
        width: 31rem;
        font-size: 1.5rem;
    }
}

/* Desktop Monitors monitors */
@media (min-width: 1440px) and (max-width: 2560px) {

    .OurProducts-container>h1 {
        font-size: 4rem;
    }

    .OurProducts-local-container {
        width: 60%;
        margin: 16rem auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .OurProducts-img-container {
        margin: 0 auto 0;
        width: 35rem;
        height: 25.5rem;
    }

    .flex-right {
        flex-direction: row;
    }

    .OurProducts-box-content h2 {
        font-size: 2.6rem;
    }

    .OurProducts-box-content>p {
        width: 31rem;
        font-size: 1.5rem;
    }
}