.product-details-container {
    margin: 0 auto 12rem;
}

.product-details-img,
.product-details-text {
    width: 85%;

    margin: 0 auto;
}

.product-details-text {
    margin: 1.2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-title-stars {
    display: flex;
    flex-direction: column;
}

.product-details-text h1,
.product-details-text h2,
.product-details-text h3 {
    font-weight: 100;
}

.product-details-text h3 {
    margin: 0 .2rem;
}

.product-details-text h2 {
    font-size: 2.4rem;
}

.product-details-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;

    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.30);
}

.stars-group {
    display: flex;
    align-items: center;

    margin: .3rem 0;
}

/* CSS related to price "R$ 79,00" and "Comprar Button" */
.price-related-container h2:nth-child(1) {
    margin: .5rem 0;
}

.price-related-container button {
    margin-bottom: 2rem;
}

/* CSS related to product description "Descrição: ..." */
.product-description-container p {
    font-size: 1.4rem;
}

.makeupProduct-btn {
    width: 15.2rem;
}

.makeupProduct-btn>p {
    font-size: 1.5rem;
}


@media (max-width: 768px) and (orientation: landscape) {
    .product-details-img {
        width: 45rem;
        height: 45rem;

        margin: 0 auto;
    }

    .product-details-text {
        width: 45rem;
    }
}

/* iPads/Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .product-details-container {
        margin: 0 auto 12rem;
    }

    .product-details-img {
        width: 45rem;
        height: 45rem;

        margin: 0 auto;
    }

    .product-details-text {
        width: 45rem;
    }
}

/* Laptops/Small laptops common screen size */
@media (min-width: 1024px) and (max-width: 1366px) {
    .product-details-container {
        margin: 0 auto 12rem;
    }

    .product-details-img {
        width: 50rem;
        height: 50rem;
    }

    .product-details-text {
        width: 50rem;
    }
}

/* Large Screensize Laptops */
@media (min-width: 1366px) and (max-width: 1440px) {
    .product-details-container {
        width: 90%;
        margin: 0 auto 12rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .product-details-img {
        width: 45rem;
        height: 45rem;
    }

    .product-details-text {
        width: 50rem;
        height: 40rem;
        justify-content: space-evenly;
    }

    .product-details-text h1 {
        font-size: 2.2rem;
    }

    .product-details-text h2 {
        font-size: 2.6rem;
    }

    .product-description-container p {
        font-size: 1.5rem;
    }
}

/* Desktop Monitors monitors */
@media (min-width: 1440px) and (max-width: 2560px) {
    .product-details-container {
        width: 80%;
        margin: 0 auto 12rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .product-details-img {
        width: 45rem;
        height: 45rem;
    }

    .product-details-text {
        width: 50rem;
        height: 40rem;
        justify-content: space-evenly;
    }

    .product-details-text h1 {
        font-size: 2.2rem;
    }

    .product-details-text h2 {
        font-size: 2.6rem;
    }

    .product-description-container p {
        font-size: 1.5rem;
    }
}

@media (min-width: 2560px) {
    .product-details-container {
        width: 70%;
    }
}