header {
    width: 100%;
}

/* CSS Class only when Mobile Menu is toggled */
.bg-mobile-menu {
    position: absolute;
    z-index: 10;

    height: 100vh;
    background-color: var(--Mobile-Menu);
}

/* CSS PRESETS to change the default button style on the header */
.nav-toggle,
.icons-header button,
.btn-header-link {
    background: transparent;
    border: transparent;

    cursor: pointer;
}

/* *** 1ยบ DIV *** */
.englober-header {
    width: 90%;
    margin: 0 auto;
}

/* CSS Class to 'disable' icons (favorite + cart) when mobile menubar is toggled */
.disabled {
    position: relative;
    z-index: -1;
    display: none;
}

/* Remove the links in the mobile version */
.btn-header-link,
.invisible-div {
    display: none;
}

/* *** Component CSS *** */
/* *** 2ยบ DIV *** */
.header-container {
    width: 100%;
    margin: 0 auto;

    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* *** 3ยบ DIV *** */
.logo-container {
    display: flex;
    align-items: center;
}

.btn-header-link {
    margin: 0 2.3rem;
    margin-top: 1.2rem;

    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    color: var(--Main-Black);
}

/* 'Bordu' logo */
.header-logo {
    margin-left: 2rem;
    margin-bottom: .9rem;
}

/* *** 4ยบ DIV *** */
.icons-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-header button {
    margin: 0 .2rem;
}

/* ***** The CSS below is for the mobile header only ***** */
.mobile-navbar {
    margin-top: 1.8rem;

    width: 100%;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mobile-navbar .btn-header-link {
    margin: 0;
    display: block;

    font-size: 1.6rem;
    color: var(--Logo-Font-White);
}

/* iPads/tables is responsive without needing to change CSS */
/* Small Laptop is responsive without needing to change CSS */

/* For Desktop */
@media (min-width: 1440px) and (max-width: 2560px) {
    .nav-toggle {
        display: none;
    }

    .btn-header-link,
    .invisible-div {
        display: block;
    }

    .logo-container {
        margin-left: 2.4rem;
    }

    .btn-header-link:hover {
        color: var(--Main-Red);
    }

    .header-logo {
        margin: 0;
        margin-left: .5rem;
    }

    /* Remove Mobile Navbar from Desktop screensize */
    .mobile-navbar {
        display: none;
    }

}