/* GLOBAL */
.fragranceShop-global-container {
    color: var(--Main-Black);
}

/* *** Page presentation *** */
/* "Maquiagem" + Image */
.fragranceShop-presentation {
    margin-bottom: 15rem;
    width: 100%;
    height: 25rem;

    text-align: center;
}

.fragranceShop-presentation h1 {
    margin-bottom: 2rem;

    font-size: 2.4rem;
    font-weight: 100;
}

.fragranceShop-presentation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.linha-bronze {
    text-align: center;
    font-weight: 100;
    font-size: 2.4rem;
}

/* *** Display products (prices, photos, etc) *** */
/* "Linha Bronze" de Maquiagem */
.fragrance-product-box-container h2 {
    font-size: 2.4rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 4rem;
}

.fragrance-product-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 8rem auto;
}

.fragrance-product-box img {
    object-fit: cover;
    width: 85%;
    height: 40rem;

    border-radius: 5px;

    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.30);
}

.fragrance-product-box img:hover {
    transition: .3s;
    filter: brightness(.9);
}

.fragrance-product-details {
    width: 85%;
    text-align: left;
    font-size: 1.5rem;
}

.fragrance-product-details h3,
.fragrance-product-details h4 {
    font-weight: 100;
}

.fragrance-product-details h3 {
    margin-top: 1rem;
}

.fragrance-product-details h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.more-products-text {
    width: 25rem;
    margin: 25rem auto;
    text-align: center;
    font-weight: 100;
    font-size: 2.2rem;
}

@media (max-width: 768px) and (orientation: landscape) {

    .fragranceShop-presentation h1,
    .linha-bronze,
    .more-products-text {
        font-size: 3rem;
    }

    .fragrance-product-box img {
        width: 60%;
    }

    .fragrance-product-details {
        width: 60%;
    }
}

/* iPads/Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    .fragranceShop-presentation h1,
    .linha-bronze,
    .more-products-text {
        font-size: 3rem;
    }

    .fragranceShop-presentation {
        margin: 0 auto 15rem;
        width: 90%;
    }

    .fragrance-product-box img {
        width: 60%;
    }

    .fragrance-product-details {
        width: 60%;
    }

    .more-products-text {
        width: 30rem;
    }
}

/* Laptops/Small laptops common screen size */
@media (min-width: 1024px) and (max-width: 1366px) {

    .fragrance-product-box-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 90%;
        margin: 0 auto;
    }

    .fragranceShop-presentation h1,
    .linha-bronze,
    .more-products-text {
        font-size: 3rem;
    }

    .fragranceShop-presentation {
        margin: 0 auto 15rem;
        width: 90%;
    }

    .fragrance-product-box img {
        width: 50rem;
        height: 50rem;
    }

    .fragrance-product-details {
        width: 50rem;
    }

    .more-products-text {
        width: 30rem;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    .fragranceShop-presentation {
        margin: 0 auto 15rem;
        width: 90%;
        height: 45rem;
    }

    .fragranceShop-presentation h1,
    .linha-bronze,
    .more-products-text {
        font-size: 3rem;
    }

    .fragrance-product-box-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 90%;
        margin: 0 auto;
    }

    .fragrance-product-box img {
        width: 45rem;
        height: 45rem;
    }

    .fragrance-product-details {
        width: 45rem;
    }

    .more-products-text {
        width: 100%;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .fragranceShop-presentation {
        margin: 0 auto 15rem;
        width: 90%;
        height: 50rem;
    }

    .fragranceShop-presentation h1,
    .linha-bronze,
    .more-products-text {
        font-size: 3rem;
    }

    .fragrance-product-box-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 90%;
        margin: 0 auto;
    }

    .fragrance-product-box img {
        width: 40rem;
        height: 40rem;
    }

    .fragrance-product-details {
        width: 40rem;
    }

    .more-products-text {
        width: 100%;
    }
}

@media (min-width: 2560px) {
    .fragranceShop-presentation {
        margin: 0 auto 15rem;
        width: 70%;
        height: 45rem;
    }

    .fragrance-product-box-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 70%;
        margin: 0 auto;
    }
}