/* Global Carousel Container */
.carousel-global-container {
    margin-bottom: 1.2rem;
    width: 100%;
}

/* Carousel Content Container (text + prev/next buttons) */
.carousel-content-container {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--Logo-Font-White);
}

.carousel-content-container h1,
.carousel-content-container h2 {
    font-weight: 400;
    letter-spacing: .1rem;

    font-size: 2.4rem;
}

.carousel-content-container h2 {
    font-size: 1.4rem;
}

/* Carousel Prev/Next Buttons */
.carousel-btns {
    width: 23%;
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
}

.carousel-btns .prev-btn,
.carousel-btns .next-btn {
    background: transparent;
    border-color: transparent;
    color: var(--Logo-Font-White);

    transition: .3s;
    cursor: pointer;
}

.carousel-btns .prev-btn:hover,
.carousel-btns .next-btn:hover {
    color: var(--Main-Red);
}


/* Carousel Image */
.carousel-local-container {
    position: relative;

    width: 100%;
    height: 262px;

    margin: 0 auto;
}

.carousel-local-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* iPads/Tablets */
@media (min-width: 701px) and (max-width: 1366px) {
    .carousel-local-container {
        width: 90%;
        height: 35rem;
    }

    .carousel-content-container h1,
    h2 {
        font-size: 3.2rem;
    }

    .carousel-content-container h2 {
        font-size: 1.8rem;
    }
}

/* Desktop Monitors */
@media (min-width: 1440px) and (max-width: 2560px) {
    .carousel-local-container {
        width: 80%;
        height: 52rem;
    }

    .carousel-content-container h1,
    h2 {
        font-size: 4.5rem;
    }

    .carousel-content-container h2 {
        font-size: 2.6rem;
    }
}