footer {
    width: 100%;
    margin: 1.2rem 0 3rem;

    text-align: center;

    color: var(--Main-Black);
}

.footer-links {
    height: 12rem;

    margin: 0 auto;
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-links p {
    cursor: pointer;
}

.footer-links p:hover {
    color: var(--Main-Red);
}

.social-media-container {
    width: 18rem;

    margin: 3.5rem auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-media-container a {
    color: #000;
}

.social-media-icon:hover {
    color: var(--Main-Red);
}

.copyright {
    margin-top: 1.4rem;
    font-size: 1.4rem;
}

/* =-=-=-= THE CODE BELOW IS THE MODAL ONLY =-=-=-= */
.footer-modal-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    place-items: center;
    visibility: hidden;

    z-index: 5;
    transition: .2s;
}

.modal-active {
    visibility: visible;
    z-index: 5;
}

.footer-modal-content {
    background: white;
    border-radius: 2rem;
    width: 90vw;
    height: 30rem;
    max-width: 117rem;
    text-align: center;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-modal-btn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;

    background: transparent;
    border: transparent;

    cursor: pointer;
}

.modal-heading {
    margin-bottom: 1.8rem;
}

/* *** "Contact Us" modal *** */
.contact-us-content h3,
.newsletter-content h3 {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
}

.contact-us-content p {
    margin: 1rem .5rem;
}

.contact-us-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* *** "Newsletter" modal *** */
.newsletter-form-container {
    margin-top: 2rem;
}

.newsletter-content input {
    margin: 0 0 1.5rem 1rem;
}

.newsletter-btn {
    margin: 0 0 1rem 0;
    width: 10rem;
    padding: 1rem;
    background: var(--Main-Red);
    border: transparent;
    border-radius: 25px;

    color: var(--Logo-Font-White);
    cursor: pointer;

    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.newsletter-content p {
    font-size: 1.2rem;
}

/* iPads/Tablets */
@media (min-width: 701px) and (max-width: 1366px) {
    footer {
        width: 40rem;
        margin: 1.2rem auto 3rem;
    }

    .footer-links {
        flex-direction: row;
    }

}

/* Laptops/Small laptops common screen size */
@media (min-width: 1366px) and (max-width: 1440px) {
    footer {
        width: 40rem;
        margin: 1.2rem auto 3rem;
    }

    .footer-links {
        flex-direction: row;
    }

    /* Modal Related Only */
    .contact-us-content h3,
    .newsletter-content h3 {
        width: 100%;
    }
}

/* Desktop Monitors monitors */
@media (min-width: 1440px) and (max-width: 2560px) {
    footer {
        width: 40rem;
        margin: 1.2rem auto 3rem;

        text-align: center;

        color: var(--Main-Black);
    }

    .footer-links {
        height: 10rem;
        flex-direction: row;
    }

    /* Modal Related Only */
    .contact-us-content h3,
    .newsletter-content h3 {
        width: 100%;
    }
}