/* ***** GLOBAL CSS SETTINGS ***** */

:root {
    /* ***** Primary Colors ***** */
    /* Used mostly for the heading and text */
    --Main-Black: #3E3E3E;
    /* Mostly for the logo and buttons */
    --Main-Red: #FD181B;
    /* Font Logo Color default color */
    --Logo-Default: #000;
    /* Font Logo Color when mobile menubar is toggled */
    --Logo-Font-White: #F0F0F0;

    /* ***** Secondary Colors ***** */
    /* Product review stars */
    --Stars: #FFD700;
    /* Mobile Menu Bar Background Color */
    --Mobile-Menu: #484848;
    /* Career Salary Background Color */
    --Career-Income: #D3DFF0;

    /* ***** Neutral Colors ***** */
    --Upperline-Review: rgba(112, 112, 112, 0.6);

    /* 1rem = 10px */
    font-size: 62.5%;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
}

/* Global CSS for Button tag */
.red-button {
    font-family: 'Poppins',
        sans-serif;
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-weight: 100;

    padding: 1rem;
    width: 15.2rem;

    background-color: var(--Main-Red);
    color: var(--Logo-Font-White);

    border: none;
    border-radius: 25px;

    text-transform: uppercase;

    cursor: pointer;

    transition: .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.red-button>p {
    margin: 0 0 0 .5rem;
    font-size: 1.6rem;
}

.red-button:hover {
    transform: scale(1.1);
}

.link-makeup-page,
.link-fragrance-page,
.link-page-underline-none {
    text-decoration: none;
}